.bgcolor{
    background-image: url("https://i.pinimg.com/736x/76/17/65/76176520dbc9616a46d32f35481f768a.jpg");  
    width: 100vw;
    height: 100vw;
}
.image{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-top: 5%;
}
.center{
    text-align: center;
}
.shadow{
    margin: auto;
    border: 8px solid rgba(0, 0, 0, 0.2);
    width: 150px;
    margin-bottom: 20px;
    border-radius: 100px;
    margin-top: 20px;
}
.credbox{
    margin: auto;
    border: 10px solid rgb(3, 3, 3);
    border-radius: 7px;
    width: 40%;
    padding: 20px;    
}
.box{
    width: 100%;
    height: 40px;
    font-size:larger ;   
}
.button{
    background-color: black;
    margin-left: 30%;
    margin-top: 40px;
    border-radius: 2px;
    width: 400px;
    height: 20px;
}